$inputColor: white;

.formModal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000063;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  overflow-y: hidden;
}

.formModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30em;
  width: 30em;
  max-width: 100%;
  max-width: 100%;
  background-color: #E1EBFF;
  border-radius: 0.8em;
  padding: 2em;
  box-sizing: border-box;
  color: #4C72C4;

  &__heading {
    display: flex;
    justify-content: space-between;
  }
  &__header {
    margin-top: 0;
  }

  &__close, &__submit, &__cancel {
    cursor: pointer;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
  }
}
