.browse {
  grid-column: 1 / 3;
  height: 100%;
  width: auto;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
  }

  &__header {
    margin-top: 0;
  }

  &__add {
    background-color: #4C72C4;
    border: none;
    border-radius: 0.5em;
    height: 2em;
    width: 8em;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 1px 2px lightgray;

    &:active {
      box-shadow: 0 0 2px lightgray;
    }
  }

  &__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }

  &__select {
    border: 4px solid white;
    border-radius: .5em;
    height: 2.5em;
    width: 100%;
    color: gray;
    background-color: white;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 11em);
  gap: 2em;
  justify-content: space-between;
}

.book {
  display: grid;
  height:17em;
  width: inherit;
  position: relative;
  border-radius: 10px;
  cursor: pointer;

  &__selected {
    border: 5px solid #4c72c4f2;
  }

  &__cover {
    height: inherit;
    width: 100%;
    border-radius: inherit;
    box-sizing: border-box;
  }

  &__label {
    position: absolute;
    display: grid;
    align-content: center;
    bottom: 0;
    background-color: #4c72c4f2;
    font-size: 12px;
    height: auto;
    width: 100%;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    padding: 0.4em 1.5em;
    line-height: 1.2em;
  }

  &__title {
    margin: 0;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    font-weight: 700;
    margin: 0;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
