.browse {
  grid-column: 1 / 3;
  height: 100%;
  width: auto;

  &__filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
  }

  &__select {
    border: 4px solid white;
    border-radius: .5em;
    height: 2.5em;
    width: 100%;
    color: gray;
    background-color: white;
    padding: 0;
    box-sizing: border-box;
  }
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 11em);
  gap: 2em 1em;
  justify-content: space-between;
}

.book {
  display: grid;
  justify-content: space-around;
  height:16em;
  width: 100%;
  position: relative;
  border-radius: 0.8em;

  &__cover {
    height: inherit;
    width: 100%;
    border-radius: inherit;
  }

  &__label {
    position: absolute;
    bottom: 0;
    background-color: #4c72c4ed;
    font-size: 12px;
    height: 4em;
    width: inherit;
    border-radius: 0 0 1em 1em;
    box-sizing: border-box;
    padding: 0.5em;
  }

  &__title {
    margin: 0;
  }

  &__author {
    margin: 0;
  }
}
