.main-container {
  display: grid;
  gap: 2em 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5em auto;
  padding: 2em 8em;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-width: max-content;
}
